<aside [class]="isSidenavOpen() ? 'opened' : 'collapsed'">
  <button class="sidenav__toggle" (click)="toggleSidenavState()">{{ isSidenavOpen() ? '\<' : '\>' }}</button>

  <nav>
    <a class="button" routerLink="" (click)="onChangeSelectedSidenavOption('home')">
      <img src="icons/info.svg" />
      Справка
    </a>
    <a class="button" routerLink="grid" (click)="onChangeSelectedSidenavOption('edit')">
      <img src="icons/grid.svg" />
      Сетка
    </a>
    <app-sidenav-edit [isSubmenuOpen]="selectedSidenavOption() === 'edit' && isSidenavOpen()" />
    <a class="button" routerLink="viewport" (click)="onChangeSelectedSidenavOption('view')">
      <img src="icons/viewport.svg" />
      Визуализация
    </a>
    <app-sidenav-view [isSubmenuOpen]="selectedSidenavOption() === 'view' && isSidenavOpen()" />
  </nav>
</aside>
