<aside [class]="isSidenavOpen() ? 'opened' : 'collapsed'">
  <button class="sidenav__toggle" (click)="toggleSidenavState()">{{ isSidenavOpen() ? '\<' : '\>' }}</button>

  <nav>
    <!-- <a class="button" routerLink="" (click)="onChangeSelectedSidenavOption('home')"> -->
    <a class="button" (click)="onChangeSelectedSidenavOption('help')">
      <img src="icons/info.svg" />
      Справка
    </a>
    <!-- <a class="button" routerLink="grid" (click)="onChangeSelectedSidenavOption('edit')"> -->
    <a class="button" (click)="onChangeSelectedSidenavOption('grid')">
      <img src="icons/grid.svg" />
      Сетка
    </a>
    <!-- <app-sidenav-edit [isSubmenuOpen]="selectedSidenavOption() === 'edit' && isSidenavOpen()" /> -->
    <!-- <a class="button" routerLink="viewport" (click)="onChangeSelectedSidenavOption('view')"> -->
    <a class="button" (click)="onChangeSelectedSidenavOption('viewport')">
      <img src="icons/viewport.svg" />
      Визуализация
    </a>
    <!-- <app-sidenav-view [isSubmenuOpen]="selectedSidenavOption() === 'view' && isSidenavOpen()" /> -->
    <app-sidenav-edit [isSubmenuOpen]="isSidenavOpen()" />
    <app-sidenav-view [isSubmenuOpen]="isSidenavOpen()" />
    <app-sidenav-saver [isSubmenuOpen]="isSidenavOpen()" />
  </nav>
</aside>
