aside {
  --opened-width: 240px;
  --collapsed-width: 40px;

  width: var(--collapsed-width);
  height: 100%;
  // background: #515356;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
  border-right: solid 1px var(--color-border);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow-x: clip;
  // overflow-y: auto;

  .sidenav__toggle {
    width: 100%;
    border-radius: 0;
    aspect-ratio: unset;
    background-color: var(--color-card-label);

    &:hover {
      background-color: var(--color-link-hover);
    }
  }

  &.collapsed {
    width: var(--collapsed-width);
  }

  &.opened {
    width: var(--opened-width);
  }

  button {
    width: var(--collapsed-width);
    aspect-ratio: 1;
  }

  nav {
    // overflow-y: scroll;

    display: flex;
    flex-direction: column;

    a {
      white-space: nowrap;

      &:hover {
        background-color: var(--color-accent);
        // background-color: aqua;
      }

      img {
        width: var(--collapsed-width);
        aspect-ratio: 1;
        padding: 8px;
        filter: invert(1);
      }
    }
  }
}
