:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;

  grid-column: 1 / -1;

  border-top: 1px solid var(--color-border);

  display: grid;
  grid-template-columns: 200px 1fr;

  & > div {
    padding: 1rem;
  }

  & > :is(div, nav) {
    &:not(:last-child) {
      border-right: 1px solid var(--color-border);
    }
  }

  .controls {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  nav {
    display: flex;
    overflow-x: auto;
    position: relative;

    & > button {
      flex: 0 0 auto;
      height: 100%;
      border: 1px solid var(--color-border);

      &.active {
        background-color: var(--color-button-active);
      }
    }
  }

  .labels {
    position: relative;
    height: 20px;

    .label {
      position: absolute;
      font-size: 0.7rem;
      transform: translateX(-50%);
      opacity: 0.7;
      white-space: nowrap;
    }
  }
}
