.probe {
  --padding: 7px;

  position: absolute;
  // right: 0;
  width: fit-content;
  transform: translate(var(--padding), calc(-100% - var(--padding)));

  background: rgba(0, 0, 0, 0.85);
  color: #fff;

  // font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;

  pointer-events: none;

  white-space: nowrap;
  z-index: 1000;
}
