:host {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr 150px;
  grid-template-rows: 1fr 65px;
  transition: grid-template-columns 0.2s ease-in-out;

  main {
    min-width: 0; // Keep this to allow the grid to shrink properly
    min-height: 0;

    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    // align-items: stretch;

    main > * {
      position: absolute;
      inset: 0;
    }

    .hidden {
      width: 100%;
      height: 100%;
      position: absolute;

      visibility: hidden;
      pointer-events: none;
    }

    .active {
      visibility: visible;
      pointer-events: all;
    }
  }
}
