<label>
  <span>Термокоса</span>
  <span>{{ selectedTempChainId() ?? 'не выбрана' }}</span>
</label>
<div
  class="thermal-braid"
  [class.has-values]="selectedTempChainId()"
  [style.--gradient]="tempBorder()"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="hideProbe()"
>
  <div #thermalBraid class="values">
    @if (selectedTempChainId() && getTempChainFrame()) { @for (tuple of getTempChainFrame(); track tuple[0]){
    <div [style.top.%]="tempOffsetY(tuple[0])">
      <label [for]="`temp-val-${$index}`">{{ tuple[0] }}м</label>
      <input [name]="`temp-val-${$index}`" [value]="tuple[1]" />
    </div>
    } @for (probe of zeroProbes(); track probe.depth) {
    <div class="zero-probe" [style.top.%]="tempOffsetY(probe.depth)"></div>
    } }
  </div>
  <app-temperature-probe [isProbeVisible]="isProbeVisible()" [probe]="probeCont()" />
</div>
