@if (isSubmenuOpen()) {
<div class="wrapper">
  <input #json type="file" appJsonFileReader />
  <input #svg type="file" appSvgFileReader />
  <button (click)="clearCanvas()">Очистить</button>
  <div class="panel">
    <div>
      <label for="minTempInput">Min ºC</label>
      <input name="minTempInput" type="number" [(ngModel)]="minTemp" />
    </div>
    <div>
      <label for="maxTempInput">Max ºC</label>
      <input type="number" [(ngModel)]="maxTemp" />
    </div>
  </div>
  <div class="panel">
    <div>
      <button class="" (click)="setGlobalTempBounds()">Всё</button>
    </div>
    <div>
      <button (click)="setTimeFrameTempBounds()">Кадр</button>
    </div>
    <!-- <div>
      <button (click)="setSliceTempBounds()">Срез</button>
    </div> -->
    <div>
      <button (click)="setTempChainTempBounds()">Коса</button>
    </div>
  </div>
  <!-- <button (click)="saveJSON()">Сохранить JSON</button> -->
  <!-- <button (click)="saveSVG()">Сохранить SVG</button> -->
</div>
}
