@if (isSubmenuOpen()) {
<div class="wrapper">
  <div class="panel">
    <div>
      <input id="ui-showSlices" type="checkbox" [(ngModel)]="showSlices" />
      <label for="showSlices">Отображать срезы</label>
    </div>
  </div>
  <div class="panel">
    <div>
      <label for="floorNum">Кол-во этажей</label>
      <input name="floorNum" type="number" min="1" max="99" [(ngModel)]="floorNum" />
    </div>
    <div>
      <label for="fieldOfView">FOV</label>
      <input name="fieldOfView" type="number" min="40" max="130" [(ngModel)]="fieldOfViewValue" />
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="centerOnObject()">Центр</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="makeBuildingTransparent()">B transp</button>
    </div>
    <div>
      <button (click)="restoreBuilding()">B restore</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="toggleCube()">3D Cube vis</button>
    </div>
    <div>
      <button (click)="toggleGrid()">2D Grid vis</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="toggleColorTheme()">COLOR</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="tempCloudWorker.sliceMode.set('xy')">XY</button>
    </div>
    <div>
      <button (click)="tempCloudWorker.sliceMode.set('xz')">XZ</button>
    </div>
    <div>
      <button (click)="tempCloudWorker.sliceMode.set('yz')">YZ</button>
    </div>
  </div>
  <div class="panel">
    <div>
      <label for="floorNum">Положение среза:</label>
      <input
        class="input-range"
        type="range"
        min="0"
        [max]="sliceMax()"
        step="1"
        [value]="sliceValue()"
        (input)="onSliceChange($event)"
      />
    </div>
  </div>
  <div class="panel">
    <div>
      <button (click)="toggleAxes()">Отображение осей</button>
    </div>
    <div>
      <button (click)="toggleProbe()">Отображение пробы</button>
    </div>
  </div>
  Нулевые пороги
  <div class="panel">
    <div>
      <button (click)="toggleIsoPoints()">Точки</button>
    </div>
    <div>
      <button (click)="toggleIsoMeshes()">Плоскости</button>
    </div>
  </div>
  Сваи
  <div class="panel">
    <div>
      <button (click)="selectAllPiles()">Выделить все</button>
    </div>
    <div>
      <button (click)="clearAllPiles()">Снять выделение</button>
    </div>
  </div>
</div>
}
